<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>GAE Studio</title>

    <script type="text/javascript" language="javascript">
        ${AppConfiguration}
    </script>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" language="javascript" src="gaestudio/gaestudio.nocache.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
</head>

<body>
<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'
        style="position: absolute; width: 0;height: 0; border: 0;"></iframe>

<div id="loginDiv" style="display:none">
    <form action="javascript:__gwt_login(0)" id="loginForm">
        <div>
            <input id="loginEmail" name="u" type="text" placeholder="Email">
        </div>
        <div>
            <input id="loginPassword" name="pw" type="password" placeholder="Password">
        </div>
        <button id="loginSubmit" type="submit">Log me in Scotty!</button>
        <div>
            <a id="forgotLink">Forgot your password?</a>
        </div>
        <div>
            <a id="registerLink">Don't have an account?</a>
        </div>
    </form>
</div>

<noscript>
    <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif;">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
    </div>
</noscript>
</body>
</html>
