<h3>ArcBees - Reset password</h3>

Click here to reset your password :
<br />
<a href="${baseurl}#resetpassword;email=${email};token=${token}" >
    ${baseurl}#resetpassword;email=${email};token=${token}
</a>
