.errorMessage {
    height: 34px;
    margin-bottom: 14px;

    text-align: center;
    font-size: 1.2em;
    line-height: 34px;

    color: white;
    background-color: #ff5400;
}

.logo {
    display: block;
    margin: -168px auto 10px;
}

.formTitle {
    color: #353535;
    font-size: 20px;
    text-align: center;

    margin-bottom: 25px;
}

.ajaxContainer {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: -35px;
}

.topBlueBar {
    height: 4px;
}

.middleBlueBar {
    height: 75px;
    margin-top: 195px;
}

.topBlueBar, .middleBlueBar, .footer {
    background-color: #25aae1;
}

.root {
    height: 100%;
    background-color: #e6e6e6;
}

.wrap {
    min-height: 100%;
}

.footer {
    position: relative;
    margin-top: -14px;
    height: 14px;
    clear: both;
}

.main {
    overflow: auto;
    padding-bottom: 14px;
}
