.cellTableEvenRow, .cellTableOddRow {
    border: none;
    background-color: transparent;
    line-height: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @mixin transition_effect(all, .25s, ease);
}

.cellTableCell {
    border: none;
    padding: 2px 20px 2px 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    font-size: 15px;

    @mixin transition_effect(all, .25s, ease);
}

.cellTableHoveredRow .cellTableCell {
}

.cellTableHeader {
    color: C_SECONDARY;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-shadow: none;

    padding: 3px 15px 3px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-top: 1px solid #a2a2a2;
}

.cellTableFirstColumn {
    padding-left: 5px;
}

.cellTableSelectedRowCell {
    background-color: C_PRIMARY;
    color: #fff;
}
