@url CHOSEN_SPRITE_URL chosenArrow;

.chzn-container-single .chzn-single {
    background-color: #fff;
    background-image: none;
    color: #222;

    height: 23px;
    border: 1px solid #fff;

    top: -2px;
    right: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.chzn-container-single .chzn-search {
    display: none;
}

.chzn-container .chzn-drop {
    margin-top: -1px;
    margin-left: 0;
    border-color: #fff;
}

.chzn-container .chzn-results {
    margin: 2px 4px 2px 0;
    padding: 0 2px;
}

.chzn-container-single .chzn-single div b {
    background: CHOSEN_SPRITE_URL no-repeat 2px 9px;
}

.chzn-container .chzn-results .highlighted {
    background-color: #42b9e8;
    background-image: none;
}