@url CHOSEN_SPRITE_URL chosenArrow;

.chzn-container-single .chzn-single {
    background-color: #2b2b2b;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #2b2b2b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    height: 21px;
    top: -2px;
    right: 2px;
}

.chzn-container-single .chzn-search {
    display: none;
}

.chzn-container .chzn-drop {
    margin-top: -1px;
    margin-left: -2px;
}

.chzn-container .chzn-results {
    margin: 2px 4px 2px 0;
    padding: 0 2px;
}

.chzn-container-single .chzn-single div b {
    background: CHOSEN_SPRITE_URL no-repeat 2px 7px;
}

.chzn-container .chzn-results .highlighted {
    background-color: #7a7a7a;
    background-image: none;
}