.ul {
    background: transparent;

    width: 197px;
    -webkit-padding-start: 0px;
    margin: 0;

    position: absolute;

    list-style-type: none;
}

ul.openedList {
    min-width: 85%;
    width: auto;
}

.openedList {
    background: #f6f6f6;

    z-index: 10000;

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
}

.dropDownArrow {
    gwt-sprite: "dropDownArrowUp";
}

.dropDownArrow:hover {
    gwt-sprite: "dropDownArrowRl";

    height: 46px;
}

.ul li {
    line-height: 46px;
    font-size: 1.3em;
    text-transform: uppercase;

    height: 46px;
}

.ul li span {
    color: #9b9b9b;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-left: 17px;
    margin-right: 17px;
    overflow: hidden;
    width: calc(100% - 52px);
    display: inline-block;
}

.ul.openedList li span {
    color: #9b9b9b;

    margin-left: 17px;
    width: auto;
}

.ul li:hover {
    background-color: #25aae1;

    cursor: pointer;
}

.ul li:hover span {
    color: #fff;
}

.ul:focus {
    outline: none;
}

.dropDownArrow, .dropDownArrow:hover {
    background-position-x: calc(100% - 7px);
    background-position-y: 50%;

    width: 100%;
}

.hiddenLi {
    display: none;
}

.selectedLi {
}
