.cellListWidget {
}

.cellListEvenItem, .cellListOddItem {
    line-height: 35px;
    font-size: 1.2em;

    padding-left: 15px;

    cursor: pointer;
}

.cellListKeyboardSelectedItem {
    background: #ffc;
}

.cellListSelectedItem {
    background-color: #25aae1;
    color: #ececec;

    overflow: visible;
}
