.pageDetails {
    color: #5d5d5d;
    display: inline-block;
    font-weight: bold;
    padding: 0px 5px;
    margin: 10px 5px;
    line-height: 27px;
}

.button {
    width: 10px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    margin: 0 4px;
}

.button:nth-of-type\(1\), .button:nth-of-type\(2\) {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.button img {
}

.button:hover img {
}

.disabledButton {
    cursor: default;
}
