@eval blue com.arcbees.gaestudio.client.resources.Colors.blue;
@eval lightGrey com.arcbees.gaestudio.client.resources.Colors.lightGrey;

.cellTableCell {
    word-break: break-word;
}

.cellTableEvenRow, .cellTableOddRow {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.cellTableOddRow {
    /*border: none;*/
    background-color: #d9d9d9;

}

.cellTableEvenRow {
    /*border: none;*/
    background-color: #ebebeb;

}

.cellTableCell {
    /*width: 100%;*/
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    /*background-color: transparent;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;

    border-left: 0;
    border-right: 0;
}

.cellTableHoveredRow .cellTableCell {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgba(163, 163, 163, 0.64);
}

.cellTableSelectedRow .cellTableCell {
    background-color: blue;
    color: lightGrey;
    text-shadow: 1px 1px 1px rgba(27, 27, 27, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0;
    border-right: 0;
}

.cellTableHeader{
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px;
    color: #2b2b2b;
    background-color: #DCDCDC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: none;
}
