@sprite .topmenuBg, .topmenuBgHover:before {
    gwt-image: "topmenuBg";
}

@sprite .topmenuBgHover:hover, .topmenuBgHover:after {
    gwt-image: "topmenuBgHover";
}

@sprite .topmenuBgHover.topmenuBgActive:before {
    gwt-image: "topmenuBgActive";
}
