@sprite .topmenuBg, .topmenuBgHover:before {
    gwt-image: "topmenuBg";
}

@sprite .topmenuBgHover:hover, .topmenuBgHover:after {
    gwt-image: "topmenuBgHover";
}

@sprite .topmenuBgHover.topmenuBgActive:before {
    gwt-image: "topmenuBgActive";
}

@sprite .record {
    gwt-image: "record";
}

@sprite .stop {
    gwt-image: "stop";
}

@sprite .delete {
    gwt-image: "delete";
}

@sprite .refresh {
    gwt-image: "refresh";
}

@sprite .edit {
    gwt-image: "edit";
}

@sprite .create {
    gwt-image: "create";
}