.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.list {
    overflow: auto;
}

.item:hover {
    background-color: #d3d3d3;
}

.selected {
    background-color: #888888;
}

.toolbar {
    height: 30px;
    line-height: 30px;
    background-color: #3b3b3b;
    color: #ffffff;
}

.toolbarButton {
    cursor: pointer;
    padding: 0 13px;
    float: left;
    position: relative;
}

.toolbarButton:hover {
}

.toolbarButtonDisabled {
    opacity: 0.4;
}

.tabs{
    background-color: #8f8f8f;
    font-size: 1.2em;
    line-height: 28px;
    margin-bottom: 5px;
}

.tabs > span {
    padding: 0 20px;
}
