@def blue #3595E6;
@def lightGrey #ececec;

body, * {
    font-family: Arial, Abel, Verdana, sans-serif;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.list {
    overflow: auto;
}

.item:hover {
    background-color: #d3d3d3;
}

.selected {
    background-color: #888888;
}

.toolbar {
    height: 36px;
    line-height: 24px;
    background-color: #3b3b3b;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.toolbarButton {
    cursor: pointer;
    padding: 0 10px 0 5px;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    position: relative;
    background: transparent;
    border: 1px solid transparent;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.toolbarButton:hover {
    background: rgb(78, 78, 78);
    border: 1px solid rgb(36, 36, 36);

    -webkit-box-shadow: inset 0 1px 5px -1px rgba(182, 182, 182, 0.3), 0 1px 5px 1px rgba(10, 10, 10, 0.2);
    -moz-box-shadow: inset 0 1px 5px -1px rgba(182, 182, 182, 0.3), 0 1px 5px 1px rgba(10, 10, 10, 0.2);
    box-shadow: inset 0 1px 5px -1px rgba(182, 182, 182, 0.3), 0 1px 5px 1px rgba(10, 10, 10, 0.2);
}

.toolbarButton:active {
    background: rgb(46, 46, 46);
    border: 1px solid rgb(37, 37, 37);

    -webkit-box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
    -moz-box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
}

.toolbarButtonDisabled {
    cursor: default;
    opacity: .4;
}

.toolbarButtonDisabled:hover {
    background: none;
    border-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tabs {
    background-color: #8f8f8f;
    font-size: 1.2em;
    line-height: 28px;
    margin-bottom: 5px;
}

.tabs > span {
    padding: 0 20px;
}

.wordWrap {
    width: 100%;
    word-wrap: break-word;
}

.kindHeaderElement {
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px;
    color: rgb(43, 43, 43);
    background-color: rgba(85, 85, 85, 0.2);

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kindListElement {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.kindListElement span {
    padding: 3px 8px;
    line-height: 26px;
}

.kindListElement:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgba(210, 210, 210, 0.65);
    cursor: pointer;
}

.kindListElement:active, .kindListElement.kindListElementHovered {
    background-color: blue;
    color: lightGrey;
    text-shadow: 1px 1px 1px rgba(27, 27, 27, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}

.profilerPlaceHolder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 30;
    border-top: 1px solid rgb(136, 136, 136);

    background:#ACACAC;
    color: #252525;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.86);
    text-align: center;
    line-height: 375px;
    font-size: 28px;
}

.profilerDockTemporary {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 20;
}

.entityTypeSelector {
    float: left;
    width: 10%;
    background-color: #ebebeb;
    height: 100%;
    position: relative;
    z-index: 50;
    overflow-y: auto;
}

.entityTypeSelector > div {
    border-right: 1px solid #dbdbdb;
    height: 100%;
}

.entityTypeSelectorEmpty {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid transparent;

    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;

    display: inline-block;
    padding: 3px 8px 3px 8px;
    line-height: 28px;
}

.hiddenOverlay {
    position: relative;
}

.hiddenOverlay > div:before {
    height: 100%;
    width: 100%;
    background-color: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    line-height: 36px;
    content: "\2190  Choose one of the entity kind to the left";
    margin-left: 10%;
    padding-left: 8px;
    opacity: 1;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.hiddenOverlay.revealOverlay > div:before {
    opacity: 0;
}

.hiddenOverlay.revealUnderOverlay > div:before {
    display: none;
}

