@def blue #3595E6;
@def lightGrey #ececec;

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.list {
    overflow: auto;
}

.item:hover {
    background-color: #d3d3d3;
}

.selected {
    background-color: #888888;
}

.toolbar {
    height: 30px;
    line-height: 30px;
    background-color: #3b3b3b;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.toolbarButton {
    cursor: pointer;
    padding: 0 13px;
    float: left;
    position: relative;
}

.toolbarButton:hover {
}

.toolbarButtonDisabled {
    opacity: 0.4;
    cursor: auto;
}

.tabs {
    background-color: #8f8f8f;
    font-size: 1.2em;
    line-height: 28px;
    margin-bottom: 5px;
}

.tabs > span {
    padding: 0 20px;
}

.wordWrap {
    width: 100%;
    word-wrap: break-word;
}

.kindListElement {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.kindListElement span {
    padding: 3px 8px;
    line-height: 28px;
}

.kindListElement:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgba(210, 210, 210, 0.65);
    cursor: pointer;
}

.kindListElement:active, .kindListElement.kindListElementHovered {
    background-color: blue;
    color: lightGrey;
    text-shadow: 1px 1px 1px rgba(27, 27, 27, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}

.profilerPlaceHolder {
    height: 100%;
    width: 100%;
    border-top: 1px solid rgb(136, 136, 136);
    background: rgb(223, 223, 223);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.86);
    color: rgb(48, 48, 48);
    text-align: center;
    line-height: 375px;
    font-size: 28px;
    position: absolute;
    top: 0;
    z-index: 30;
}

.profilerDockTemporary {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 20;
}

.entityTypeSelector {
    float: left;
    width: 10%;
    background-color: #ebebeb;
    height: 100%;
    position: relative;
    z-index: 50;
}

.entityTypeSelector > div {
    border-right: 1px solid #dbdbdb;
    height: 100%;
}

.entityTypeSelectorEmpty {
    content: "No entity type detected";
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;
    display: inline-block;
    padding: 3px 8px 3px 8px;
    line-height: 28px;
}

.hiddenOverlay {
    position: relative;
}

.hiddenOverlay > div:before {
    height: 100%;
    width: 100%;
    background-color: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    content: "\2190  Choose one of the entity kind to the left";
    margin-left: 10%;
    padding-left: 8px;
    opacity: 1;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.hiddenOverlay.revealOverlay > div:before {
    opacity: 0;
}

.hiddenOverlay.revealUnderOverlay > div:before {
    display: none;
}

