.root {
    overflow-x: auto;
    width: 50%;
    padding-left: 15px;
}

.root table {
    width: 100%;
}

.fullscreen {
    margin: 17px 15px;
}

/* -> Edit Entity View -- */

.edit .root {
    height: 100%;
    overflow-x: hidden;
}

.detailHeader {
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #a2a2a2;
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
}

.detailHeader h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    display: inline-block;
}

.error {
    margin: 10px;
    padding: 10px;

    border: solid 1px #b8a6a3;
    color: #3a2a25;
    background-color: #e4cfc8;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.mainContent {
    padding-top: 10px;
    height: literal('calc(100% - 68px)');
    overflow-y: auto;
}

.buttonContainer {
    width: 210px;

    position: absolute;
    top: 2px;
    right: 0;
}

.editorPanel {
    font-size: 16px;
}