@require "colors";
@require "mixins";

@def BYGQL resourceUrl("byGQLBtn");

.heading {
    padding: 0 24px 0 15px;
}

.deleteByKind {
    width: 242px;
    float: right;
}

.deleteByKind ul {
    right: 38px;
}

.deleteByKind ul span {
    max-width: 450px;
}

.table {
    overflow-x: auto;
    width: 100%;
}

.table table {
    width: 100%;
}

.main {
    position: relative;
    height: 100%;
}

.refresh {
    display: inline-block;
    margin: 17px 0 0 20px;
    border-right: 2px solid C_SECONDARY_LIGHT;
    padding-right: 6px;
}

.deselect {
    display: inline-block;
    margin-left: 2px;
}

.byGql {
    text-transform: uppercase;

    display: inline-block;
    margin-left: 15px;

    position: relative;
    top: -3px;
}

.byGql span {
    background: BYGQL no-repeat center top;

    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: sub;
}

.byGql:hover,
.byGql.open {
    color: C_PRIMARY;

    cursor: pointer;
}

.byGql.actif span {
    background-position: center bottom;
}

.formQuery {
    width: 100%;
    overflow: hidden;
}

.formQuery textarea {
    background-color: C_SECONDARY_LIGHT;

    width: 100%;
    min-height: 60px;
    border: 0;

    @mixin boxshadow_inset(2px, 2px, 5px, 0, rgba(0, 0, 0, 0.1));
}

.formQuery button {
    color: #fff;
    background-color: C_PRIMARY;
    background-image: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;

    margin: 0 0 15px 0;
    border: 0;
    padding: 5px 10px;
}
