@eval colorBlue com.arcbees.gaestudio.client.resources.Colors.colorBlue;
@eval colorLightGray com.arcbees.gaestudio.client.resources.Colors.colorLightGray;
@eval colorLightGrey com.arcbees.gaestudio.client.resources.Colors.colorLightGrey;
@eval colorLightGreyEB com.arcbees.gaestudio.client.resources.Colors.colorLightGreyEB;
@eval colorGrey2B com.arcbees.gaestudio.client.resources.Colors.colorGrey2B;

.cellTableEvenRow, .cellTableOddRow {
    border: none;
    background-color: transparent;
    line-height: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.cellTableCell {
    border: none;
    padding: 2px 20px 2px 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    font-size: 15px;

    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.cellTableHoveredRow .cellTableCell {
}

.cellTableHeader {
    color: colorLightGray;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-shadow: none;

    padding: 3px 15px 3px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-top: 1px solid #a2a2a2;
}
