@eval colorBlue com.arcbees.gaestudio.client.resources.Colors.colorBlue;
@eval colorGrey2B com.arcbees.gaestudio.client.resources.Colors.colorGrey2B;
@eval colorLightGrey com.arcbees.gaestudio.client.resources.Colors.colorLightGrey;
@eval colorLightGray com.arcbees.gaestudio.client.resources.Colors.colorLightGray;
@eval colorLightGreyEB com.arcbees.gaestudio.client.resources.Colors.colorLightGreyEB;

@external .gwt-SplitLayoutPanel-HDragger;
@external .gwt-SplitLayoutPanel-VDragger;

body, * {
    font-family: Source Sans Pro, Verdana, sans-serif;
}

body, html {
    height: 100%;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

.clear {
    clear: both;
}

.list {
    overflow: auto;
}

.toolbar {
    color: white;
    height: 100%;
}

.toolbarButton {
    cursor: pointer;

    width: 100%;
    height: 46px;
    float: left;
    position: relative;
    background: #2d2d2d;

    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.toolbarButton:hover {
    background: white;
    color: black;
    border-left: 2px solid #25aae1;
    margin-left: 0;
    transition: margin-left 0;
    -webkit-transition: margin-left 0;
    -moz-transition: margin-left 0;
    -o-transition: margin-left 0;
}

.toolbarButton:hover > div:first-child {
    margin-left: -2px;
}

.toolbarButton:active {
    background: rgba(46, 46, 46, 0.5);
    border: 1px solid rgba(37, 37, 37, 0.7);

    -webkit-box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
    -moz-box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.35), 0 1px 5px 1px rgba(192, 192, 192, 0.06);
}

.toolbarButtonDisabled {
    cursor: default;
    opacity: .4;
}

.toolbarButtonDisabled:hover {
    background: none;
    color: white;
    border-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tabs {
    font-size: 1.2em;
    line-height: 28px;
    padding-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tabs > span {
    padding: 0 20px;
}

.kindHeaderElement {
    position: relative;

    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px;

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kindListElement {
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: background-color .25s ease;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
}

.kindListElement span {
    padding: 3px 16px;
    line-height: 26px;
    font-size: 17px;
}

.kindListElement:hover, .kindListElementHovered {
    background-color: #25aae1;
    color: #f6f6f6;

    cursor: pointer;
}

.entityTypeSelector {
    background: #ececec;
    color: #2d2d2d;

    float: left;
    width: 250px;
    height: 100%;

    -webkit-transition: margin-left .5s ease;
    -moz-transition: margin-left .5s ease;
    -o-transition: margin-left .5s ease;
}

.entityTypeSelector > div {
    height: 100%;
}

.entityTypeSelectorEmpty {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);
    background-color: transparent;

    display: inline-block;
    padding: 3px 8px 3px 8px;
    line-height: 28px;
}

.entityListPanel {
    width: 100%;
    height: 100%;
    float: left;
    padding-left: 5px;

    zoom: 1;
    overflow-y: auto;

    transition: left .5s ease;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
}

.entityDetailPanel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: colorLightGreyEB;

    transition: left .5s ease;
    -webkit-transition: left .5s ease, width .5s ease;
    -moz-transition: left .5s ease, width .5s ease;
    -o-transition: left .5s ease, width .5s ease;
}

.hiddenOverlay {
    position: relative;
}

.hiddenOverlay > div:before {
    line-height: 36px;
    content: "\2190  Choose one of the entity kind to the left";
    padding-left: 8px;
    opacity: 1;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.hiddenOverlay.revealOverlay > div:before {
    opacity: 0;
}

.hiddenOverlay.revealUnderOverlay > div:before {
    display: none;
}

.pager table {
    float: left;
    margin-right: 5px;
}

.firstTable, .secondTable, .pager {
    overflow: visible;
}

.firstTable .lockedRow td {
    background-color: colorBlue;
}

.firstTable, .secondTable {
    width: 100%;
}

.firstTable {
    margin-right: -1px;
    padding: 0 15px;
    clear: both;
}

.firstTable thead tr:after {
    content: "";
}

.firstTable tbody tr:hover {
    cursor: pointer;
}

.entityDetailPanelVisibility {
    overflow: visible;
}

@sprite .trashSmall {
    gwt-image: "trash_small_up";
}

@sprite .trashSmallNoHover {
    gwt-image: "trash_small_up";
}

@sprite .trashSmall:hover {
    gwt-image: "trash_small_rl";
}

@sprite .expand {
    gwt-image: "expand_up";
    cursor: pointer;
}

@sprite .expand:hover {
    gwt-image: "expand_rl";
}

@sprite .collapse {
    gwt-image: "collapse_up";
    cursor: pointer;
}

@sprite .collapse:hover {
    gwt-image: "collapse_rl";
}

@sprite .importSmall {
    gwt-image: "import_small_up";
    margin: 0;
}

@sprite .pencilSmall {
    gwt-image: "pencil_small";
    margin: 0;
}

.popup {
    background-color: #EBEBEB;
    color: #2d2d2d;

    padding: 20px 20px 20px 20px;

    z-index: 110;
    position: relative;

    -webkit-shadow: 0px 1px 16px -2px rgba(0, 0, 0, 0.35);
    -moz-shadow: 0px 1px 16px -2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 16px -2px rgba(0, 0, 0, 0.35);
}

.popupIcon {
    display: inline-block;
    margin-right: 5px;
}

.popupHeader {
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;

    margin-bottom: 20px;

    position: relative;
}

.close {
    float:right;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color:#000000;
    text-shadow:0 1px 0 #ffffff;
    opacity:0.2;
    filter:alpha(opacity=20);
    position: absolute;
    right: 6px;
    top: 2px;
}

.close:hover {
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    opacity:0.4;
    filter:alpha(opacity=40);
}

.glassPanel {
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
}

.authForm {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
}

.authForm label {
    width: 120px;
    display: inline-block;
}

.authForm input {
    width: 96%;
    padding: 0 0 0 4% !important;
    margin-bottom: 11px;
    background-color: #FFFFFF !important;

    box-shadow: inset 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.authForm input:hover, .authForm input:focus {
    outline: 2px solid #25aae1;
    outline-offset: -2px;
}

.button:hover:enabled, .button:active:enabled {
    box-shadow: inset 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
}

.button {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;

    border: none;
    background-color: #25aae1;
    color: white;
}

.button:hover:enabled {
    cursor: pointer;
}

.button:active:enabled {
    background-color: #0e76bc;
}

.button.gray {
    border: none;

    background: #b7b7b7;
    color: #2d2d2d;
    text-shadow: none;
}

.button.gray:hover:enabled {
    background: #b7b7b7;
    color: #2d2d2d;
    border: none;
    text-shadow: none;
}

.button.gray:active:enabled {
    border: none;
    background: #8d8d8d;
    text-shadow: none;
}

.authForm input, .authForm .button {
    height: 37px;
}

.authForm .button {
    margin-bottom: 20px;
    text-transform: none;
}

.authForm input, .authForm .button, #loginForm #registerLink {
    font-size: 1.5em;
}

#loginForm {
    text-align: center;
    position: relative;
}

#loginForm #forgotLink {
    color: #25aae1;
    font-size: 1.2em;
}

#loginForm #registerLink {
    margin-top: 60px;
    display: block;

    color: #353535;
}

#loginForm a {
    cursor: pointer;
}

#loginForm a:active {
    text-decoration: underline;
}

#loginForm #registerLink:hover, #loginForm #forgotLink:hover {
    color: #0e76bc;
}

#loginForm #registerLink:active, #loginForm #forgotLink:active {
    text-decoration: underline;
}

.embeddedEntityProperties {
    padding-left: 15px;
    margin-bottom: 20px;
}

.loginAjaxLoader {
    position: absolute;
    right: -36px;
    top: 99px;
}

.northSection {
    background-color: #2d2d2d;
    width: 100%;
    position: absolute;
    top: 0;
    height: 110px;
}

.main {
    width: 100%;
    position: absolute;
    top: 110px;
    bottom: 0;
}

.panelToggle {
    transition: webkitTransform 0.5s;
}

.panelToggle:hover {
    cursor: pointer;
}

@sprite .delete {
    gwt-image: "delete";
}

@sprite .record {
    gwt-image: "record";
}

@sprite .pencil {
    gwt-image: "pencil_up";
}

@sprite .toolbarButton:hover .pencil {
    gwt-image: "pencil_rl";
}

@sprite .refresh {
    gwt-image: "refresh_up";
    cursor: pointer;
    display: inline-block;
}

@sprite .refresh:hover {
    gwt-image: "refresh_rl";
}

@sprite .deselect {
    gwt-image: "deselect_up";
    cursor: pointer;
    display: inline-block;
}

@sprite .deselectDisabled {
    gwt-image: "deselect_dis";
    cursor: default;
    display: inline-block;
}

@sprite .deselect:hover {
    gwt-image: "deselect_rl";
}

@sprite .toolbarButton:hover .delete {
    gwt-image: "deleteRl";
}

@sprite .toolbarButton:hover .stop {
    gwt-image: "stopRl";
}

@sprite .stop, .toolbarButtonDisabled:hover .stop {
    gwt-image: "stop";
}

.delete,
.toolbarButton:hover .delete,
.stop,
.toolbarButton:hover .stop,
.toolbarButtonDisabled:hover .stop,
.record,
.toolbarButton .pencil,
.toolbarButton:hover .pencil {
    height: 46px;
    width: 46px;
    background-position-x: 50%;
    background-position-y: 50%;
    display: inline-block;
}

.profilerToggle {
    float: right;

    margin-top: 6px;
    padding: 4px;
}

.profilerToggle.flipped {
    margin-right: 6px;
}

.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.toggleKindsPanel {
    position: absolute;
    right: 0;
    top: 13px;
    padding: 4px;
}

.toggleKindsPanel.flipped {
    right: 5px;
}

@sprite .gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
    gwt-image: "resize";
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position-x: 50%;
    background-position-y: 50%;
}

.statementDetails {
    background-color: #ececec;
    overflow: hidden;
    padding: 15px;
    margin-left: 12px;
    margin-top: 6px;

    display: none;

    transition: height .5s ease;
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
}

.statementDetails p {
    color: #7a7a7a;
    margin: 0;
    text-transform: uppercase;
}

@sprite .statementImage {
    gwt-image: "listDot";
    margin-right: 5px;
    display: inline-block;
}

@sprite .statementImageRl, .statementImageDn {
    gwt-image: "listDotRl";
    cursor: pointer;
}

.filterText {
    color: #9b9b9b;

    margin-left: 17px;
}

.filterText:hover {
    color: white;
}

.className {
    font-size: 1.3em;
}

.methodName {
    font-size: 1.1em;
    line-height: 1.5em;
    padding-left: 5px;
}

.methodName:hover {
    cursor: pointer;
    background-color: #25aae1;
    color: white;
}

.entityPanelTransitions {
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -o-transition: width .5s ease;
}

@sprite .power {
    gwt-image: "power";

    float: right;
    background-position-y: 40%;
    height: 100%;
    margin: 0 10px;
}

.power:hover {
    cursor: pointer;
}

.errorField {
    outline: #ff5400 solid 2px;
    outline-offset: -2px;
}

@sprite .importBtn {
    gwt-image: "importBtn";
}

@sprite .exportBtn {
    gwt-image: "exportBtn";
}

.exportBtn, .importBtn {
    /*Do not optimize*/
    background-color: #2d2d2d;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    height: 23px;
    width: 23px;
    margin: 2px;

    float: left;
}

.exportBtn:hover, .importBtn:hover {
    background-color: #25aae1;
}

.exportBtnDisabled, .exportBtnDisabled:hover {
    background-color: #B7B7B7;
}

.uploadLabel {
    font-size: 1.1em;
    background: #d9d9d9;
    text-align: left;

    height: 24px;
    padding: 5px !important;
    margin-bottom: 10px;
}

.checked {
    background-color: #25aae1;
}

.booleanKey {
    float: left;
    margin: 5px 0 5px 0;
    line-height: 1em;
}

input[type=text] {
    background-color: lightgray;
    color: black;
    border: none;
    padding-left: 4px;
}

.buttonContainer {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.buttonContainer button, .chooseFileButton {
    margin: 0;
    text-align: center;
    width: literal('calc(50% - 5px)');
    padding: 5px;
}

.buttonContainer > :first-child {
    margin-right: 6px;
}
