    .fleft {
        float: left;
    }

    .fright {
        float: right;
    }

    .clear {
        clear: both;
    }

    .list {
        position: absolute;
        top: 3em;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding: 0.5em;
    }

    .item:hover {
        background-color: #d3d3d3;
    }

    .selected {
        background-color: #888888;
    }

    .toolbar {
        line-height: 30px;
        border-bottom: 8px solid #D0E4F6;
    }

    .toolbar button, .toolbar select {
        margin-right: 5px;
    }
