    /*
    * Copyright 2012 ArcBees Inc. All rights reserved.
    */

    .list {
        position: absolute;
        top: 3em;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding: 0.5em;
    }

    .list div:hover {
        background-color: #d3d3d3;
    }
